
.but{
    margin-left: 72%;
  }
  
  .wrapper {
          margin: 0% auto;
          text-align: center;
          width: 100%;
          position: relative;
        }
        .button {
          padding: 15px 100px;
          margin: 10px 4px;
          color: #ffffff;
          font-family: sans-serif;
          text-transform: uppercase;
          text-align: center;
          position: relative;
          text-decoration: none;
          display: inline-block;
          cursor: pointer;
        }
        .button {
          border: 1px solid transparent;
          -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
          transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
        }
        .button::before {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 0px;
          z-index: -1;
          width: 0%;
          height: 1px;
          background: #003177;
          box-shadow: inset 0px 0px 0px #b6cdef;
          display: block;
          -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
          transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
        }
        .button:hover::before {
          width: 100%;
        }
        .button::after {
          content: "";
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: -1;
          width: 0%;
          height: 1px;
          background: #a9c1e8;
          -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
          transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
        }
        .button:hover::after {
          width: 100%;
        }
        .button:hover {
          border-left: 1px solid #b6cdef;
          border-right: 1px solid #6098ff;
        }
  
  .body{
      position: relative;	
      background-color: #11181C;
  }
  
  .mapouter
  {
          width: 300px;
  }
  
  .logo2
  {
          width: 300px;
  }
  
  .titre {
      margin-left: auto;
      margin-right: auto;
  }
  
  .contenu{  	
  background-color: #11181C;}
  
  .header{
  background-color: whitesmoke;
   }
  
  .footer{
  background-color: #0E2F3B;
  border-top: 2px solid #16252C;
  }
  
  .main{	
  background-color: #11181C;
  }
  
  /* SEARCH BAR */
  .icon-bar {
    width: 100%; 
    background-color: #11181C; 
    overflow: auto; /* Overflow due to float */
  
  }
  
  .icon-bar a {
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  float : right;
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  .active {
    background-color: #04AA6D; /* Add an active/current color */
  }
  
  a {
    margin: 20px;
  }
  .Global{
    width:100%;
  }
  .gauche {
  float :left; /* Add an active/current color */
  }
  
  .conteneur {overflow:hidden;
              color:#A4A4A4;
              font-family: sans-serif;
              font-style: bold;
            }
  
  .colp {width:33.3%; float:left; display:inline}
  
  .container {
   width:50%;
  margin: -2% auto;
  margin-left: 30%;
  overflow: auto;
  }
  .class {
   width:12,5%;
    float : left;
  
  }
      .slider-inner{
          width: 500px;
          height: 300px;
          position: relative;
          overflow: hidden;
          float: left;
          padding: 3px;
          border: #666 solid 1px;
  
      }
  
      .slider-inner img{
          display: none;
          width: 500px;
          height: 300px;
      }
      
      .slider-inner img.active{
          display: inline-block;
      }
  
      .prev,.next{
          float: left;
          margin-top: 130px;
          cursor: pointer;
      }
  
      .prev{
          position: relative;
          margin-right: -45px;
          z-index: 100;
          
      }
  
      .next{
          position: relative;
          margin-left: -45px;
          z-index: 100;
          transform: translate(10%,13%);
      }
  
    @keyframes flash {  
          0% {
              color: rgb(135, 206, 235);
              text-shadow: 1px 5px 20px black;
          }
          90% {
              color: blue;
              text-shadow: 1px 5px 20px black;
          }
          100% {
              color: #FF8F00;
              text-shadow: 0 0 20px #FF8F00, 0 0 50px #FF8F00;
          }
      }
  
  .gallery:hover{
      color:#FF8F00;
      padding: 1px;
      background-color: #FF8F00;
      border-radius: 9px;
  
  }
  
  .gallery {
          position: absolute;
          font-family: 'impact';
          top: 4%;
          left: 15%;
          transform: translate(-50%, -50%);
          margin: 0;
          padding: 0;
          display: flex;
          text-shadow: 1px 5px 20px black;
      }
      
      .gallery li {
          list-style: none;
          font-family: 'impact';
          color: white;
          letter-spacing: 1px;
          font-size: 2.3rem;
          font-weight: bolder;
          animation: flash 2s linear infinite;
      }
      
   
      .gallery li:nth-child(1) {
          animation-delay: 0.2s;
      }
      
      .gallery li:nth-child(2) {
          animation-delay: 0.3s;
      }
      
      .gallery li:nth-child(3) {
          animation-delay: 0.4s;
      }
      .gallery li:nth-child(4) {
          animation-delay: 0.5s;
      }
      
      .gallery li:nth-child(5) {
          animation-delay: 0.6s;
      }
      
      .gallery li:nth-child(6) {
          animation-delay: 0.7s;
      }
      .gallery li:nth-child(7) {
          animation-delay: 0.8s;
      }
      .gallery li:nth-child(8) {
          animation-delay: 0.9s;
      }
      
      .gallery li:nth-child(9) {
          animation-delay: 1.0s;
      }
      .gallery li:nth-child(10) {
          animation-delay: 1.1s;
      }
      .gallery li:nth-child(11) {
          animation-delay: 1.2s;
      }
      .gallery li:nth-child(12) {
          animation-delay: 1.3s;
      }
      
      .zz{
        color: #04AA6D;
      }
     
      @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  .search {
    width: 300%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #0E2F3B;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #11181C;
  }
  
  .searchTerm:focus{
    color: #0E2F3B;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #0E2F3B;
    background: #11181C;
    text-align: center;
    color: #0E2F3B;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 20%;
    position: absolute;
    top: 4%;
    left: 45%;
    transform: translate(-50%, -50%);
    
  }